[Unit]
Description=Asustor IT87 Kernel Module Setup
Before=asustor-fancontrol-monitor.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/asustor-fancontrol/bin/check_asustor_it87.kmod.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target
